apiVersion: v1
kind: Service
metadata:
  name: feedback-backend-service
  namespace: backend
spec:
  type: NodePort
  ports:
    - name: http
      port: 3001
      targetPort: 3001
  selector:
    app: feedback-backend-deployment
